.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #152850;
}
.main-container {
  display: flex;
  align-items: center;
  background-color: #e0eefe;
  border-radius: 15px;
  height: 550px;
  width: 850px;
}
.img-container {
  padding: 10px;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
.login-img {
  width: 450px;
  height: 350px;
}
.form-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 40%;
  border-radius: 25px;
  padding: 10px;
}
.login-heading {
  font-size: 36px;
  font-family: roboto;
  font-weight: bold;
  color: #152850;
  margin: 0%;
}
.label-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.label {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: roboto;
  font-weight: bold;
  color: #5a7184;
}
.input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c3cad9;
  color: #000000;
  outline: none;
}
.login-btn {
  margin-top: 30px;
  width: 300px;
  font-size: 16px;
  font-family: roboto;
  font-weight: bold;
  color: #ffffff;
  background-color: #1565d8;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}
.err-content {
  width: 300px;
  display: flex;
  justify-content: center;
}
.err {
  font-size: 11px;
  font-family: roboto;
  color: #ff0b37;
}
