.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.web-img {
  width:100px;
}
.logout-btn {
  font-size: 14px;
  font-family: roboto;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
}
